* {
  border: none;
  text-decoration: none;
}
body {
  font-family: Arial;
}
h1 {
  text-align: center;
}
hr {
  border: none;
  background-color: grey;
  height: 2px;
}
a {
  text-decoration: underline;
}
table {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
table,
th,
td {
  border: 1px solid black;
}
td,
th {
  text-align: left;
  padding: 8px;
}
input,
select,
button,
textarea {
  margin-top: 10px;
  margin-bottom: 10px;
}
textarea {
  width: 100%;
}
.size-30 {
  font-size: 30px;
}
.size-50 {
  font-size: 50px;
}
.size-20 {
  font-size: 20px;
}
.blue {
  color: blue;
}
.green {
  color: green;
}
.yellow {
  color: yellow;
}
.red {
  color: red;
}
.red-underline {
  text-decoration: red underline;
}
.magenta {
  color: magenta;
}
.brown {
  color: brown;
}
.margin-left {
  margin-left: 40px;
}
.flex-columns {
  display: flex;
  flex-direction: column;
}
.center-text {
  text-align: center;
}
.inp-txt {
  border: 2px black solid;
  border-style: inset;
}
.btn {
  border-style: outset;
}
.progress-btn {
  margin-left: 10px;
  margin-right: 10px;
}
.checked-tr:nth-child(even) {
  background-color: grey;
}
.column {
  display: flex;
  flex-direction: column;
}
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
